includes:
    - vendor/larastan/larastan/extension.neon

parameters:
    paths:
        - app/
        - bootstrap/
        - config/
        - routes/
        - tests/

    level: 5

    ignoreErrors:
        - identifier: method.alreadyNarrowedType
        - identifier: class.notFound

    excludePaths:
        - */vendor/*
        - */node_modules/*
        - */storage/*
